.redbtn {
  background-color: #f94f4f;
  color: white;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 30px;
  border: none;
  font-family: 'Poppins', sans-serif;
}
nav {
  height: auto;
}

input1 {
  background: transparent;
  border: none;
  border-bottom: 1px solid grey;
  border-radius: 30px;
}
.redtext {
  font-family: 'Poppins', sans-serif;
  color: #f94f4f;
  font-weight: 600;
  position: relative;
  top: 3px;
}

.tutortxt,
.tutstxt {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  position: relative;
  top: 2px;
  color: #737a87;
}

.searchbox {
  border: 1px solid #dae4f5;
  border-radius: 5px;
  width: 280px;
}
.btns {
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  font-style: italic;
}

.carticon {
  position: relative;
  top: 7px;
}

.welcometxt {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #293b5f;
  margin-top: 45px;
  margin-bottom: 25px;
}
.emailaddresstxt {
}

.modal {
  border: none;
  margin: none;
  padding: none;
}
.img {
  vertical-align: none;
}

.modal-dialog {
  width: 1000px;
  margin: 30px auto;
}
.txt {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #7d848f;
  margin-top: 16.9px;
}

.txt2 {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #7d848f;
  font-style: italic;
  margin-top: 16.9px;
}

.btnborder {
  border-radius: 30px;
  border: solid 1px;
}
.inputbtm {
  border: none;
  border-bottom: solid 0.5px;
  color: #e5e5e5;
}

.fbtn {
  background-color: #3b5998;
  color: white;
}

.xbtn {
  margin-left: 5px;
  background-color: #005251;
  color: white;
}
.loginbtns {
  border: none;
  border-radius: 3px;
  font-family: 'Poppins', sans-serif;
  font-weight: 550;

  padding: 5px 10px;
}
