<nav class="nav justify-content-center">
  <a class="nav-link" routerLink="/homepage"
    ><img src="../../assets/images/homepage/Menorah LMS.png" alt=""
  /></a>
  <a class="nav-link " routerLink="/coursespage" href="#"
    ><img src="../../assets/images/homepage/courses1.png" alt="" /><span
      class="redtext"
    >
      Courses</span
    ></a
  >
  <a class="nav-link" routerLink="/tutorspage" href="#"
    ><img src="../../assets/images/homepage/tutor.png" alt="" />
    <span class="tutortxt"> Tutors</span></a
  >
  <a class="nav-link " routerLink="/tutspage" href="#"
    ><img src="../../assets/images/homepage/tuts.png" alt="" />
    <span class="tutstxt"> Tuts</span>
  </a>

  <input
    class="searchbox"
    type="search"
    name=""
    placeholder="Search for Learning"
  />&nbsp;
  <a href=""
    ><img class="carticon" src="../../assets/images/homepage/cart.png" alt=""
  /></a>

  <button class="btn btns" data-toggle="modal" data-target="#myModal">
    Sign In <span class="badge badge-primary"></span>
  </button>
  &nbsp;
  <button
    type="button"
    class="btn btns redbtn btn-primary"
    data-toggle="modal"
    data-target="#SignUpModal"
  >
    Sign Up
  </button>
</nav>

<div class="container">
  <!--Sign In Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <div class="header">
                <img
                  src="../../assets/images/homepage/Menorah LMS.png"
                  alt="LMS logo"
                />
                <h4 class="modal-title welcometxt">
                  Welcome Back, Please Login to your Account
                </h4>
              </div>
              <img
                src="../../assets/images/modal/Facebbok.png"
                alt="Facebook Image"
              />
              &nbsp;&nbsp;
              <img
                src="../../assets/images/modal/Xing.png"
                alt="Xing Image"
              /><br />
              <span>Email Address*</span><br /><input type="email" name="" />
              <br />
              <span>Password*</span><br />
              <input type="password" name="" /> <br />
              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    name=""
                    value="checkedValue"
                  />
                  Remember Me
                </label>
              </div>

              <button
                type="button"
                class="btn"
                data-toggle="modal"
                data-target="#ForgotPasswordModal"
              >
                Forgot Password
              </button>
              <br />
              <button class="btn btn1">
                Log In <span class="badge badge-primary"></span>
              </button>
              &nbsp;
              <button
                type="button"
                class="btn btn2 btn-primary"
                data-toggle="modal"
                data-target="#SignUpModal"
              >
                Sign Up
              </button>
              <br />
              <div class="footer">
                <p>By Signing Up, You agree to our Tearms and Conditions</p>
              </div>
            </div>
            <div class="col-md-6">
              <img
                src="../../assets/images/modal/Vector Smart Object.png"
                class="img-fluid"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Sign Up Modal -->
  <div class="modal" id="SignUpModal">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <div class="header">
                <img src="" alt="LMS logo" />
                <h4 class="modal-title">
                  Join Our Community
                </h4>
                More than 10 Million user connected with Menorah LMS
              </div>
              <img src="" alt="Facebook Image" />
              <img src="" alt="Xing Image" /><br />
              <label>User Name*</label><br /><input type="text" name="" />
              <br />
              <label>Email Address*</label><br /><input type="email" name="" />
              <br />
              <label>Password*</label><br />
              <input type="password" name="" /> <br />
              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    name=""
                    value="checkedValue"
                  />
                  By Signing Up, You agree to our Tearms and Conditions
                </label>
              </div>
              <br />
              <button class="btn btn1">
                Create Account <span class="badge badge-primary"></span>
              </button>
              &nbsp;
              <button type="button" class="btn btn2 btn-primary">
                Sign Up
              </button>
              <div class="footer">
                <p>Are you a member? <a href="">Click here to Login</a></p>
              </div>
            </div>
            <div class="col-md-6">
              <img
                src="../../assets/images/darkblue.gif"
                class="img-fluid"
                alt=""
                style="height: 450px;"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--forgot Password Modal -->
  <div class="modal" id="ForgotPasswordModal">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <div class="header">
                <img src="" alt="LMS logo" />
                <h5 class="modal-title">
                  Password Reset
                </h5>
                Please enter your registered email address, so we will send you
                link to your Email address
              </div>

              <br />
              <label>Email Address*</label><br /><input type="email" name="" />

              <br />
              <button class="btn btn1">
                Send Reset Link <span class="badge badge-primary"></span>
              </button>
            </div>
            <div class="col-md-6">
              <img
                src="../../assets/images/darkblue.gif"
                class="img-fluid"
                alt=""
                style="height: 450px;"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
