.redbtn {
  background-color: red;
  color: white;
  font-style: oblique;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 30px;
  border: none;
  font-family: 'Poppins', sans-serif;
}
nav {
  height: auto;
}

input1 {
  background: transparent;
  border: none;
  border-bottom: 1px solid grey;
  border-radius: 30px;
}
.redtext {
  font-family: 'Poppins', sans-serif;
  color: #f94f4f;
  font-weight: 600;
  position: relative;
  top: 3px;
}

.tutortxt,
.tutstxt {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  position: relative;
  top: 2px;
  color: #737a87;
}

.searchbox {
  border: 1px solid #dae4f5;
  border-radius: 5px;
  width: 280px;
}
.btns {
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  font-style: italic;
}

.carticon {
  position: relative;
  top: 7px;
}

.welcometxt {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #293b5f;
  margin-top: 45px;
}

.modal {
  border: none;
  margin: none;
  padding: none;
}
.img {
  vertical-align: none;
}
